.Weather {
    font-family: Arial, sans-serif;
    border: 1px solid #dadde1;
    border-radius: 4px;
    padding: 16px;
    margin: 30px auto;
    color: rgb(135, 135, 135);
    max-width: 600px;
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .row {
    display: flex;
    flex-wrap: wrap;
}

.Weather .col-6 {
    flex: 1;
    max-width: 50%;
    padding: 0 15px;
}

.Weather .col-9, .Weather .col-3 {
    padding: 0 15px;
}

.Weather img {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.Weather .clearfix {
    display: flex;
    align-items: center; 
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -20px; 
}
